/* Seção Eventos*/
.secaoEventos {
  padding: 20px 40px;
  font-family: 'Oswald';
}

.secaoEventos h1 {
  font-size: 32px;
  font-family: 'Titan One';
  font-weight: 900;
  color: #903500;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.divEventos {
  display: flex;
  gap: 30px;
}

.eventoDestaque {
  width: 55%;
  border-radius: 12px;
  padding: 20px;
}

.eventoDestaque img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.eventoDestaque ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0 0 10px;
}

.dataEvento .numero{
  font-size: 34px;
  font-family: 'Titan One';
  text-align: center;
  color: #903500;
}

.dataEvento .mes{
  font-size: 22px;
  font-family: 'Titan One';
  color: #903500;
}

.eventos {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.eventos ul {
  display: flex;
  gap: 15px;
  list-style: none;
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  margin: 0;
}

.eventos ul li img {
  width: 150px;
  height: auto;
  border-radius: 10px;
}

.titEvento {
  font-size: 20px;
  font-family: 'Titan One';
  color: #903500;
  margin-bottom: 5px;
}

.endereco {
  font-size: 16px;
  font-family: 'Owald';
  margin: 2px 0;
}

.nomeOng {
  font-size: 13px;
  font-family: 'Oswald';
  margin: 5px 0 10px;
}

.eventos ul ul {
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 10px 0 0;
}

.eventos .numero {
  font-size: 30px;
  font-family: 'Titan One';
  color: #903500;
  margin: 0;
  text-align: center;
}

.eventos .mes {
  font-size: 18px;
  font-family: 'Titan One';
  color: #903500;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.eventos ul ul li:last-child p {
  font-size: 13px;
  line-height: 1.4;
}
