/* Secao Hospitais */
.secaoHospitais {
  background: #E2AC7F;
  padding: 40px 20px;
  font-family: 'Oswald';
  color: #663e17;
}

.secaoHospitais h2 {
  font-size: 32px;
  font-family: 'Titan One';
  text-align: center;
  margin-bottom: 30px;
}

.conteudoHospitais {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.buscaHospitais {
  flex: 1;
  min-width: 200px;
}

.buscaHospitais label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}

.buscaHospitais input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid #888;
  margin-bottom: 20px;
  font-size: 14px;
}

.cardHospital {
  background: #f6d1b6;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

.cardHospital h3 {
  font-size: 15px;
  margin-bottom: 8px;
}

.cardHospital p {
  font-size: 13px;
  margin: 4px 0;
}

.cardHospital a {
  display: inline-block;
  margin-top: 5px;
  padding: 6px 10px;
  background: #903500;
  color: white;
  border-radius: 6px;
  font-size: 13px;
  text-decoration: none;
}

.cardHospital a:hover {
  transform: scale(1.05); 
}

.mapaHospitais {
  flex: 1;
  min-width: 350px;
}