 /* Seção objetivos*/
 .secaoObjetivo {
  padding: 10%;
}

.cardsObjetivos {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
}

.cardObjetivo img {
  width: 50%;       
  max-width: 300px;  
  height: auto;
  display: block;
  margin: 0 auto;    
}

.cardObjetivo h3{
    color:#903500;
    font-family: 'Titan One';
    font-size: 38px;
}

.cardObjetivo p{
    font-family: 'Oswald';
}
