/* Responsividade */

.menu-toggle {
  display: none;
  font-size: 32px;
  color: white;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 900px) {
  header {
    padding: 12px 20px;
  }

  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    width: 220px;
    background: #E2AC7F;
    padding: 20px;
    border-radius: 0 0 0 12px;
  }

  nav a {
    margin: 12px 0;
    font-size: 18px;
  }

  .btnLogin {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  nav.ativo {
    display: flex;
  }

  .botoesIniciais {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .botoesIniciais a {
    width: 100%;
    font-size: 22px;
  }

  .cardsObjetivos {
    grid-template-columns: 1fr;
    margin: 50px 0;
  }

  .cardsImpactos {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .divEventos {
    flex-direction: column;
    width: 100%;
  }

  .eventoDestaque{
    width: 100%;
  }

  .eventos{
    width: 100%;
  }

  .conteudoHospitais {
    flex-direction: column;
  }

  .secaoComentarios {
    flex-direction: column;
    text-align: center;
  }

  .secaoObjetivo{
    padding: 10px;
    margin: 20px;
  }
  
}

