/* Botões Iniciais */
.botoesIniciais { 
    display: flex; 
    justify-content: center; 
    gap: 100px; 
    margin: 20px 0; 
}

.botoesIniciais a {
    background: #903500; 
    color: #fff; 
    display: flex;              
    justify-content: center;    
    align-items: center;        
    width: 450px;
    font-family: 'Titan One';
    padding: 15px 30px; 
    border-radius: 10px;
    text-decoration: none; 
    transition: 0.3s;
    font-size: 30px;
}


.botoesIniciais a:hover { 
    background: #903500; 
    transform: scale(1.05); 
}


