<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuidados</title>
    <link rel="shortcut icon" href="/imgs/logoFocinho.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Titan+One&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/cuidados/gerais.css">
    <link rel="stylesheet" href="/css/cuidados/cards.css">
    <link rel="stylesheet" href="/css/cuidados/dicas.css">
    <link rel="stylesheet" href="/css/cuidados/saudavel.css">
</head>

<body>

    <!-- Menu -->
    <header>
        <img src="/imgs/logoFarejo.png" alt="Logo Farejo" class="logo">

        <nav>
            <a href="http://localhost:3000/inicial">Início</a>
            <a href="http://localhost:3000/feed">Feed</a>
            <a href="http://localhost:3000/animaisOng">Animais</a>
            <a href="http://localhost:3000/cuidadosPets">Cuidados</a>
            <a href="#agenda">Agenda</a>
            <a href="#contato">Contato</a>
        </nav>

        <a href="http://localhost:8000/login" class="btnLogin"></a>

        <!-- Botão Menu Hamburguer -->
        <div class="menu-toggle" id="menu-toggle">☰</div>
    </header>

    <div class="container-geral">
        <div class="topo">
            <div class="ladoEsquerdo">
                <h1 class="titulo">Alimentação saudável</h1>
                <p class="subTitulo">Saiba como oferecer o melhor para o seu cachorro ou gato</p>
            </div>
            <div class="ladoDireito">
                <img src="/imgs/cuidados/comidaCachorro.png" alt="">
            </div>
        </div>
    </div>

    <div class="infos">
        <h1 class="tituloDicas">Alimentação saudável</h1>
        <p class="subTituloComidas">A alimentação dos pets deve ser equilibrada. Prefira rações de qualidade, adequadas a idade e porte. Sempre ofereça agua limpa e evite restos de comida humana.</p>
    </div>


    <div class="dicas">
        <h2 class="tituloDicas">Alimentos proibidos</h2>
        <div class="containerDicas" id="dicasSaudaveis">
            <div class="itemDica">
                <img id="warning" src="/imgs/cuidados/warning.png" alt="">
                <h3>Chocolate</h3>
            </div>

            <div class="itemDica">
                <img id="warning" src="/imgs/cuidados/warning.png" alt="">
                <h3>Ossos cozidos</h3>
            </div>

            <div class="itemDica">
                <img id="warning" src="/imgs/cuidados/warning.png" alt="">
                <h3>Massa crua</h3>
            </div>

            <div class="itemDica">
                <img id="warning" src="/imgs/cuidados/warning.png" alt="">
                <h3>Massa crua</h3>
            </div>
        </div>

        <div class="containerDicas" id="dicasSaudaveis">
            <div class="itemDica">
                <img id="warning" src="/imgs/cuidados/warning.png" alt="">
                <h3>Uva e uva-passa</h3>
            </div>

            <div class="itemDica">
                <img id="warning" src="/imgs/cuidados/warning.png" alt="">
                <h3>Café e alcool</h3>
            </div>

            <div class="itemDica">
                <img id="warning" src="/imgs/cuidados/warning.png" alt="">
                <h3>Açucar e doces</h3>
            </div>

            <div class="itemDica">
                <img id="warning" src="/imgs/cuidados/warning.png" alt="">
                <h3>Cebola e alho</h3>
            </div>
        </div>
    </div>

    <div class="infos" id="ultima">
        <h1 class="tituloDicas">Pequenos detalhes que fazem diferença</h1>
        <p class="subTituloComidas">Mantenha horarios fixos, evite exageros nos petiscos e consulte o veterinario regularmente para ajustar a dieta.</p>
    </div>

</body>

</html>