<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar ONG</title>
    <link rel="stylesheet" href="../public/css/cadastro/nav.css">
    <link rel="stylesheet" href="../public/css/cadastro/geral.css">
    <link rel="stylesheet" href="../public/css/cadastro/cadastro.css">
    <link rel="stylesheet" href="../public/css/cadastro/responsividade.css">
    <link rel="stylesheet" href="../public/css/cadastro/login.css">
    
</head>

<body>
    <nav class="logo">
        <img src="../public/imgs/cadastro/logo.png" alt="">
    </nav>

    <div class="container">
        <!-- Lado Esquerdo -->
        <div class="left">
            <h1>Junte-se a essa causa!</h1>
            <p>Ao se cadastrar, você dá o primeiro passo para transformar vidas.</p>
            <img src="../public/imgs/cadastro/cachorroCadastroOng.png" alt="Cachorro feliz" class="dog-img">
        </div>

        <div class="right">
            <div class="cadastro-header">
                <h2>CADASTRO</h2>
                <div class="step-indicator">
                    <div class="step step1 active">1</div>
                    <div class="line"></div>
                    <div class="step step2">2</div>
                    <div class="line"></div>
                    <div class="step step3">3</div>
                </div>
        </div>

            <form id="cadastroForm">
                <!-- ETAPA 1 -->
                <div id="etapa1" class="etapa">
                    <label>Nome:</label>
                    <input type="text" required placeholder=" " />

                    <label>E-mail:</label>
                    <input type="email" required placeholder=" " />

                    <label>CPF/CNPJ::</label>
                    <input type="text" required placeholder=" "  maxlength="14"/>

                    <label>Senha:</label>
                    <input type="password" required placeholder=" "/>

                    <button type="button" id="btnProximo">PRÓXIMO</button>
                </div>

                <!-- ETAPA 2 -->
                <div id="etapa2" class="etapa hidden">

                    <div class="row">
                        <div class="input-group">
                            <label>Nome do responsável pela ONG:</label>
                            <input type="text" required placeholder=" " />
                        </div>
                        <div class="input-group">
                            <label>CPF do responsável pela ONG:</label>
                            <input type="text" required placeholder=" "/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-group">
                            <label>Telefone de contato da ONG:</label>
                            <input type="text" required placeholder=" "/>
                        </div>
                        <div class="input-group">
                            <label>Descrição da ONG:</label>
                            <input type="text" required placeholder=" "/>
                        </div>
                    </div>

                    <button type="button" id="btnProximo">PRÓXIMO</button>
                </div>

                   <!-- ETAPA 3 -->
                <div id="etapa3" class="etapa hidden">
                    <label>CEP:</label>
                    <input type="text" required placeholder=" "/>

                    <div class="row">
                        <div class="input-group">
                            <label>Rua:</label>
                            <input type="text" required placeholder=" " />
                        </div>
                        <div class="input-group">
                            <label>Número:</label>
                            <input type="text" required placeholder=" "/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-group">
                            <label>Cidade:</label>
                            <input type="text" required placeholder=" "/>
                        </div>
                        <div class="input-group">
                            <label>UF:</label>
                            <input type="text" required placeholder=" "/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-group">
                            <label>Complemento:</label>
                            <input type="text" placeholder=" "/>
                        </div>
                        <div class="input-group">
                            <label>Bairro:</label>
                            <input type="text" required placeholder=" "/>
                        </div>
                    </div>

                    <button type="button" id="btnProximo"><a href="loginOng.html">LOGIN</a> </button>
                    
                </div>
            </form>
        </div>
    </div>

    <script src="../public/js/cadastroOng.js"></script>

</body>

</html>