<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Adm</title>
    <link rel="stylesheet" href="../public/css/cadastro/nav.css">
    <link rel="stylesheet" href="../public/css/cadastro/geral.css">
    <link rel="stylesheet" href="../public/css/cadastro/cadastro.css">
    <link rel="stylesheet" href="../public/css/cadastro/login.css">
    <link rel="stylesheet" href="../public/css/cadastro/responsividade.css">
</head>

<body>
   <nav class="logo">
        <img src="../public/imgs/cadastro/logo.png" alt="">
    </nav>

    <div class="container">
        <div class="left">
            <h1>Bem-vindo de volta!</h1>
            <p>Entre com sua conta e continue ajudando a transformar vidas.</p>
            <img src="../public/imgs/cadastro/gatoCadastroAdm.png" alt="Cachorro feliz" class="dog-img">
        </div>

        <div class="right">
            <div class="cadastro-header">
                <h2>CADASTRO</h2>
            </div>

            <form id="cadastroForm">
                <div class="etapa">

                    <label>Nome:</label>
                    <input type="text" required placeholder=" "/>

                    <label>E-mail:</label>
                    <input type="email" required placeholder=" "/>

                    <label>Senha:</label>
                    <input type="password" required placeholder=" "/>

                </div>


                <div class="botoes">
                    <a href="loginAdm.html">LOGIN</a> 
                </div>

            </form>
        </div>
    
</body>

</html>