<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuidados</title>
    <link rel="shortcut icon" href="/imgs/logoFocinho.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Titan+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/cuidados/gerais.css">
    <link rel="stylesheet" href="/css/cuidados/cards.css">
    <link rel="stylesheet" href="/css/cuidados/dicas.css">
</head>
<body>

    <!-- Menu -->
    <header>
        <img src="/imgs/logoFarejo.png" alt="Logo Farejo" class="logo">

        <nav>
            <a href="http://localhost:3000/">Início</a>
            <a href="http://localhost:3000/feed">Feed</a>
            <a href="http://localhost:3000/cuidadosPets">Cuidados</a>
            <a href="#">Agenda</a>
            <a href="#">Contato</a>
        </nav>

        <a href="http://localhost:8000/login" class="btnLogin"></a>

        <!-- Botão Menu Hamburguer -->
        <div class="menu-toggle" id="menu-toggle">☰</div>
    </header>

    <div class="container-geral">
        <div class="topo">
            <div class="ladoEsquerdo">
                <h1 class="titulo">Cuidados com o seu Pet</h1>
                <p class="subTitulo">Tudo que você precisa saber para cuidar bem do seu animal de estimação- Alimenteção, higiene, passeios e muito mais.</p>
            </div>
            <div class="ladoDireito">
                <img src="/imgs/cuidados/cachorroGatoCuidados.png" alt="">
            </div>
        </div>
    </div>

    <div class="cards">
        <div class="card">
            <div class="imagem">
                <img class="imgCard" src="/imgs/cuidados/card1.png" alt="">
            </div>
            <div class="text">
                <h2 class="tituloCard">Alimentação saudavel</h2>
                <p class="desc"> Dicas de ração, petiscos e etc.</p>
            </div>
            <div class="button">
                <a href="http://localhost:3000/alimentacaoSaudavel" class="btn">Ver mais</a>
            </div>
        </div>

        <div class="card">
            <div class="imagem">
                <img class="imgCard" src="/imgs/cuidados/card2.png" alt="">
            </div>
            <div class="text">
                <h2 class="tituloCard">Higiene e banho</h2>
                <p class="desc"> Como manter seu pet sempre limpo e cheiroso.</p>
            </div>
            <div class="button">
               <a href="http://localhost:3000/higieneBanho" class="btn">Ver mais</a>
            </div>
        </div>

        <div class="card">
            <div class="imagem">
                <img class="imgCard" src="/imgs/cuidados/card3.png" alt="">
            </div>
            <div class="text">
                <h2 class="tituloCard">Vacinação e saude</h2>
                <p class="desc"> Principais vacinas e prevenções.</p>
            </div>
            <div class="button">
               <a href="http://localhost:3000/vacinacao" class="btn">Ver mais</a>
            </div>
        </div>

         <div class="card">
            <div class="imagem">
                <img class="imgCard" src="/imgs/cuidados/card4.png" alt="">
            </div>
            <div class="text">
                <h2 class="tituloCard">Passeios e rotas seguras</h2>
                <p class="desc"> Caminhos seguros e horarios ideais.</p>
            </div>
            <div class="button">
                <a href="http://localhost:3000/passeios" class="btn">Ver mais</a>
            </div>
        </div>

         <div class="card">
            <div class="imagem">
                <img class="imgCard" src="/imgs/cuidados/card5.png" alt="">
            </div>
            <div class="text">
                <h2 class="tituloCard">Brincadeiras e exercicios</h2>
                <p class="desc"> Atividades para gastar energia e se divertir.</p>
            </div>
            <div class="button">
                <a href="http://localhost:3000/brincadeiras" class="btn">Ver mais</a>
            </div>
        </div>

         <div class="card">
            <div class="imagem">
                <img class="imgCard" src="/imgs/cuidados/card6.png" alt="">
            </div>
            <div class="text">
                <h2 class="tituloCard">Carinho e comportamento</h2>
                <p class="desc"> Como entender e cuidar do emocional do pet.</p>
            </div>
            <div class="button">
                <a href="http://localhost:3000/comportamento" class="btn">Ver mais</a>
            </div>
        </div>
    </div>

    <div class="dicas">
  <h2 class="tituloDicas">Dicas do dia a dia</h2>
  <div class="containerDicas">
    <div class="itemDica">
      <img src="/imgs/cuidados/sunny.png" alt="">
      <h3>Evite passear em horários de sol forte</h3>
    </div>

    <div class="itemDica">
      <img src="/imgs/cuidados/shiba.png" alt="">
      <h3>Escove o pelo regularmente para evitar nós e pelos soltos</h3>
    </div>

    <div class="itemDica">
      <img src="/imgs/cuidados/drop.png" alt="">
      <h3>Sempre tenha água fresca disponível</h3>
    </div>
  </div>
</div>   

<div class="aviso">
    <h1 class="avisoPesq">ATENÇÃO! TODOS OS CONTEÚDOS FORAM TIRADOS DA INTERNET.</h1>
</div>
</body>
</html>