<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title>Farejo - Dashboard ONG</title>
    <link rel="stylesheet" href="/css/dashOng.css">
    <link rel="stylesheet" href="/css/dashOngResp.css">
    <link rel="stylesheet" href="/css/menuDash.css">
    <link rel="shortcut icon" href="/imgs/logoFocinho.png" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Titan+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="containerDashOng">
        <div class="navbarOng recolhido">
          <div class="btn-abrir">
              <span class="material-symbols-outlined" id="btn-abrir">menu</span>
          </div>

          <img id="logoMenu" src="/imgs/logoFocinho.png" alt="" class="logo">
          <br>
          <div class="linksOng ">
              <img src="/imgs/dash.png" alt="">
              <li><a href="/dashOng">Dashboard</a></li>
          </div>

          <div class="linksOng">
              <img src="/imgs/animaisMenu.png" alt="">
              <li><a href="/animaisOng">Animais</a></li>
          </div>

          <div class="linksOng">
              <img src="/imgs/localizacaoOng.png" alt="">
              <li><a href="/localizacao">Localização</a></li>
          </div>

          <div class="linksOng">
              <img src="/imgs/publicidadeOng.png" alt="">
              <li><a href="/publicidade">Publicidade</a></li>
          </div>

          <div class="linksOng ativo" id="ativo">
              <img src="/imgs/postagens.png" alt="">
              <li><a href="/postagens">Postagens</a></li>
          </div>

          <div class="linksOng">
              <img src="/imgs/userOng.png" alt="">
              <li><a href="/perfil">Perfil</a></li>
          </div>

          <div class="linksOng">
              <img src="/imgs/postagens.png" alt="">
              <li><a href="/feed">Feed</a></li>
          </div>

      </div>


        <div class="dash">
            <div class="coluna1">
                <h1 class="tituloDash">Dashboard</h1>

                <img src="/imgs/grafico.png" alt="" class="graficoEngajamento">

                <img src="/imgs/outGraficos.png" alt="" class="outGraficos">

                <!-- <div class="cardApresentacao">
                    <h1 class="apresentacao">Seja bem-vindo</h1>
                    <h2 class="descApresentacao">Aqui você poderá gerenciar suas publicações, acompanhar campanhas e feiras de adoção, atualizar
                         informações sobre sua ONG e visualizar o engajamento das suas ações. Tudo de forma prática e organizada, para que você possa 
                         focar no que realmente importa: cuidar e promover o bem-estar dos animais que você ajuda.</h2>
                </div> -->







                <div class="graficoEngajamento">
                    
                </div>

                <br>

                <!--
                <div class="vagas">
                    <h1 class="tituloDash">Vagas</h1>
                    <div class="cardVagas">
                        <div class="ladoA">
                            <h2 class="subtituloDash"><b>Voluntário para Feirinha de Adoção</b></h2> 

                            <h3><b>Tipo: </b> Voluntariado | Eventos</h3>
                            <h3><b>Local: </b> Presencial - São Paulo/SP</h3>
                            <h3><b>Descrição: </b> Auxilie na organização de feirinhas de adoção aos finais de semana</h3>
                        </div>
                        
                        <div class="ladoB">
                            <div class="cardStatus">Ativo</div>
                            <div class="inscricao">
                                <h2 class="subtituloDash"><b>8</b></h2>
                                <h3><b>Inscritos</b></h3>
                            </div>
                        </div>
                        
                    </div>

                    <br>

                    <div class="cardVagas">
                        <div class="ladoA">
                            <h2 class="subtituloDash"><b>Assistente Administrativo</b></h2> 

                            <h3><b>Tipo: </b> Emprego | Administrativo</h3>
                            <h3><b>Local: </b> Remoto</h3>
                            <h3><b>Descrição: </b> Ajude no controle de cadastros de pets e relatórios financeiros da ONG.</h3>
                        </div>
                        
                        <div class="ladoB">
                            <div class="cardStatus">Ativo</div>
                            <div class="inscricao">
                                <h2 class="subtituloDash"><b>10</b></h2>
                                <h3><b>Inscritos</b></h3>
                            </div>
                        </div>
                        
                    </div>

                    <br>

                    <div class="cardVagas">
                        <div class="ladoA">
                            <h2 class="subtituloDash"><b>Estágio em Auxílio Veterinário</b></h2> 

                            <h3><b>Tipo: </b> Estágio | Cuidados com Animais</h3>
                            <h3><b>Local: </b> Presencial - São Paulo/SP</h3>
                            <h3><b>Descrição: </b> Apoie os veterinários no atendimento básico e vacinação de pets.</h3>
                        </div>
                        
                        <div class="ladoB">
                            <div class="cardStatus">Ativo</div>
                            <div class="inscricao">
                                <h2 class="subtituloDash"><b>12</b></h2>
                                <h3><b>Inscritos</b></h3>
                            </div>
                        </div>
                        
                    </div>

                    <br>
                </div>
                -->
            </div>

            <div class="coluna2">
                <!-- Seguidores -->
                <div class="auxCol2">
                    <div class="card2" id="numPost">
                        <b class="titulo">Número total de postagens</b>
                        <div>
                            <span class="numero" data-target="20">20</span>
                        </div>
                    
                    </div>

                    <!-- Post mais curtido -->
                    <div class="card2" id="postMaisFavoritado">
                        <b class="titulo">Post mais favoritado</b>
                        <img class="imgMaisFavoritado" src="/imgs/landingPage/vacinacao.png" alt="Post">
                        <div class="info">
                            
                            <p class="descricaoMaisFavoritado">Campanha </p>
                        </div>
                    </div>
                </div>


                <div class="auxCol2">
                    <div class="card2" id="numPost">
                        <b class="titulo">Número de animais adotados</b>
                        <div>
                            <span class="numero" data-target="20">95</span>
                        </div>
                    
                    </div>

                    <!-- Post mais curtido -->
                    <div class="card2" id="numPost">
                        <b class="titulo">Número total de animais aguardando por adoção</b>
                        <div>
                            <span class="numero" data-target="20">130</span>
                        </div>
                    
                    </div>
                </div>
                

                <!-- Funcionários -->
                <div class="card funcionarios">
                <h3>Funcionários</h3>

                <div class="funcionario">
                    <div class="perfil">
                    <img src="/imgs/user1.jpeg" alt="Foto">
                    <div class="dados">
                        <p class="nome">Luana Souza</p>
                        <p>Designer</p>
                        <p>Admissão: 12/02/2023</p>
                    </div>
                    </div>
                    <div class="acoes">
                    <button title="Ver currículo">📄</button>
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider"></span>
                    </label>
                    </div>
                </div>

                <div class="funcionario">
                    <div class="perfil">
                    <img src="/imgs/user2.jpeg" alt="Foto">
                    <div class="dados">
                        <p class="nome">Rodrigo Santiago</p>
                        <p>Desenvolvedor</p>
                        <p>Admissão: 05/08/2022</p>
                    </div>
                    </div>
                    <div class="acoes">
                    <button title="Ver currículo">📄</button>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                    </div>
                </div>

                <div class="funcionario">
                    <div class="perfil">
                    <img src="/imgs/user3.jpeg" alt="Foto">
                    <div class="dados">
                        <p class="nome">Manuela Costa</p>
                        <p>Marketing</p>
                        <p>Admissão: 20/11/2021</p>
                    </div>
                    </div>
                    <div class="acoes">
                    <button title="Ver currículo">📄</button>
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider"></span>
                    </label>
                    </div>
                </div>

                <div class="funcionario">
                    <div class="perfil">
                    <img src="/imgs/user3.jpeg" alt="Foto">
                    <div class="dados">
                        <p class="nome">Gabriela Silva</p>
                        <p>Gestão</p>
                        <p>Admissão: 20/11/2022</p>
                    </div>
                    </div>
                    <div class="acoes">
                    <button title="Ver currículo">📄</button>
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider"></span>
                    </label>
                    </div>
                </div>

                <div class="funcionario">
                    <div class="perfil">
                    <img src="/imgs/user1.jpeg" alt="Foto">
                    <div class="dados">
                        <p class="nome">Luana Souza</p>
                        <p>Designer</p>
                        <p>Admissão: 12/02/2023</p>
                    </div>
                    </div>
                    <div class="acoes">
                    <button title="Ver currículo">📄</button>
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider"></span>
                    </label>
                    </div>
                </div>

                <div class="funcionario">
                    <div class="perfil">
                    <img src="/imgs/user2.jpeg" alt="Foto">
                    <div class="dados">
                        <p class="nome">Rodrigo Santiago</p>
                        <p>Desenvolvedor</p>
                        <p>Admissão: 05/08/2022</p>
                    </div>
                    </div>
                    <div class="acoes">
                    <button title="Ver currículo">📄</button>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                    </div>
                </div>
                </div>

            </div>
        </div>
    </div>

    <script src="/js/menuDash.js"></script>
    <script src="/js/dashOng.js"></script>
    
</body>
</html>