<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farejo - Feed</title>
    <link rel="shortcut icon" href="/imgs/logoFocinho.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Titan+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/feed.css">
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
    
    <!-- Menu -->
    <header>
        <img src="/imgs/logoFarejo.png" alt="Logo Farejo" class="logo">

        <nav>
            <a href="http://localhost:3000/">Início</a>
            <a href="http://localhost:3000/feed">Feed</a>
            <a href="http://localhost:3000/cuidadosPets">Cuidados</a>
            <a href="http://localhost:3000/">Agenda</a>
            <a href="http://localhost:3000/">Contato</a>
        </nav>

        <a href="http://localhost:8000/login" class="btnLogin"></a>

        <!-- Botão Menu Hamburguer -->
        <div class="menu-toggle" id="menu-toggle">☰</div>
    </header>


    <!-- Feed -->
    <div class="containerFeed">
        <div class="filtrosFeed">
            <h1 class="tituloFiltros">Explorar</h1>

            <form class="ordenar">
                <!-- limpar filtros -->
                <h2 class="ord1">Ordenar por:</h2>
                <ul class="ordenarOpc">
                    <li><input type="radio" name="ordenacao" id="recentes">Mais recentes</li>
                    <li><input type="radio" name="ordenacao" id="proximos">Mais prómimos de mim</li>
                    <li><input type="radio" name="ordenacao" id="seguidas">Somente ONGs seguidas por mim</li>
                </ul>
                
                
            </form>

            <form class="ordenar2">
                <!-- limpar filtros -->
                <h2 class="ord1">Ordenar por:</h2>
                <ul class="ordenarOpc">
                    <li class="ord">
                        <img src="/imgs/animais.png" alt="" class="iconFiltro">
                        Animais
                    </li>

                        <ul class="tipoAnimal">
                            <li><input type="radio" name="ordenacao" id="recentes" active>Todos</li>
                            <li><input type="radio" name="ordenacao" id="recentes">Cachorros</li>
                            <li><input type="radio" name="ordenacao" id="recentes">Gatos</li>
                        </ul>

                    <li class="ord">
                        <img src="/imgs/eventos.png" alt="" class="iconFiltro">
                        Eventos
                    </li>
                 
                   <li class="ord">
                        <img src="/imgs/campanhas.png" alt="" class="iconFiltro">
                        Campanhas
                    </li>
                 
                    <li class="ord">
                        <img src="/imgs/dicas.png" alt="" class="iconFiltro">
                        Dicas de cuidado
                    </li>
                  
                </ul>
                
                
            </form>
        </div>

        <div class="feedPrincipal">
            <!-- Parceiros -->
            <div class="parceiros efeito5" id="parceiros">
                <!-- Carrossel automático de parceiros -->
                <div class="carrossel efeito-carrossel">
                    <div class="slider">
                        <div class="slide-track">
                        <div class="slide">
                            <img src="./imgs/parceiro1.png" height="100" width="200" margin="5" alt="" />
                        </div>
                        <div class="slide">
                            <img src="./imgs/parceiro2.png" height="100" width="200" margin="5" alt="" />
                        </div>
                        <div class="slide">
                            <img src="./imgs/parceiro3.png" height="60" width="200" margin="5" alt="" />
                        </div>
                        <div class="slide">
                            <img src="./imgs/parceiro4.png" height="70" width="200" margin="5" alt="" />
                        </div>
                        <div class="slide">
                            <img src="./imgs/parceiro5.png" height="70" width="150" margin="5" alt="" />
                        </div>
                        <div class="slide">
                            <img src="./imgs/parceiro6.png" height="70" width="180" margin="5" alt="" />
                        </div>
                        <div class="slide">
                            <img src="./imgs/parceiro1.png" height="100" width="200" margin="5" alt="" />
                        </div>
                        <div class="slide">
                            <img src="./imgs/parceiro2.png" height="100" width="200" margin="5" alt="" />
                        </div>
                        <div class="slide">
                            <img src="./imgs/parceiro3.png" height="70" width="200" margin="5" alt="" />
                        </div>
                        <div class="slide">
                            <img src="./imgs/parceiro4.png" height="60" width="200" margin="5" alt="" />
                        </div>
                        <div class="slide">
                            <img src="./imgs/parceiro5.png" height="70" width="150" margin="5" alt="" />
                        </div>
                        <div class="slide">
                            <img src="./imgs/parceiro6.png" height="70" width="180" margin="5" alt="" />
                        </div>
                        <div class="slide">
                            <img src="./imgs/parceiro1.png" height="100" width="200" margin="5" alt="" />
                        </div>
                        <div class="slide">
                            <img src="./imgs/parceiro2.png" height="100" width="200" margin="5" alt="" />
                        </div>
                        <div class="slide">
                            <img src="./imgs/parceiro3.png" height="70" width="200" margin="5" alt="" />
                        </div>
                        
                    
                        </div>
                    </div>
                </div>
            </div>
            <form class="barraBusca" action="/action_page.php">
                <input class="busca" type="search" placeholder="O que você procura.." name="search">
                <button class="lupa" type="submit"><i class="fa fa-search"></i></button>

                
            </form>
            
            <br>

                <div class="post">
                    <div class="col1P">
                        <div class="perfill">
                            <img src="/imgs/ong1.png" alt="" class="imgPerfil">
                            <div class="infoPost">
                                <a class="nomePerfil">Projeto Mi&Au</a>
                                <h5>Há 5 horas</h5>
                            </div>
                        </div>
                        

                        <div class="imgsPost">
                            <img src="/imgs/landingPage/multirao.png" alt="">
                            <img src="/imgs/landingPage/feira.png" alt="">
                        </div>

                        <div class="textoPost">
                            <h2 class="tituloPost">🐾 Evento de Adoção - Dê um lar, ganhe amor! 🐾</h2>
                            <h3 class="descPost">
                                Você está pronto para encontrar um novo melhor amigo?
                            <br>
                            Data: 24/10 às 15:00
                            Local: Av. Brasil

                            Mais de 900 cães e gatos resgatados estarão esperando por um lar cheio de amor. Todos castrados, vacinados e prontos para começar uma nova vida com você! 
                            Adoção responsável salva vidas. Participe e ajude a espalhar essa ideia!
                            </h3>
                        </div>
                        
                    </div>
                </div>

                <br>
                <hr>
                <br>
                
            
        </div>

        <div class="perfilOngs" id="perfilOngs">
            <h2 class="tituloFiltros" id="perfilOngs">Institiuições parceiras</h2>

            <br>

            <div class="perfil">
                <img src="/imgs/ong1.png" alt="" class="imgPerfil">
                <a class="nomePerfil">Projeto Mi&Au</a>
                 
            </div>

            <div class="perfil">
                <img src="/imgs/ong2.png" alt="" class="imgPerfil">
                <a class="nomePerfil">Projeto Auqmia</a>
                 
            </div>

            <div class="perfil">
                <img src="/imgs/ong3.png" alt="" class="imgPerfil">
                <a class="nomePerfil">Projeto Opaa</a>
                 
            </div>

            <div class="perfil">
                <img src="/imgs/ong4.png" alt="" class="imgPerfil">
                <a class="nomePerfil">Ampara Animal</a>
                 
            </div>

            <div class="perfil">
                <img src="/imgs/ong5.png" alt="" class="imgPerfil">
                <a class="nomePerfil">Saepa Animal</a>
                 
            </div>

            <div class="perfil">
                <img src="/imgs/ong6.png" alt="" class="imgPerfil">
                <a class="nomePerfil">Apup</a>
                 
            </div>

        </div>
    </div>

    <!-- <script src="/js/inicial.js"></script> -->
    <script src="/js/feed.js"></script>
</body>
</html>