<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/perfilAdm.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Titan+One&display=swap" rel="stylesheet">
    <title>Perfil Adm</title>
</head>
<body>
    <div class="containerDashOng">
        
        <!-- Navbar Lateral -->
        <div class="navbarOng recolhido">
            <div class="btn-abrir">
                <span class="material-symbols-outlined" id="btn-abrir"><img id="logoMenu"  src="/imgs/perfilAdm/logoFocinho.png" alt="" class="logo"></span>
            </div>
                
            <div class="linksOng">
                <img src="/imgs/perfilAdm/animaisMenu.png" alt="">
                <li>Animais</li>
            </div>

            <div class="linksOng">
                <img src="/imgs/perfilAdm/localizacaoOng.png" alt="">
                <li>Localização</li>
            </div>

            <div class="linksOng">
                <img src="/imgs/perfilAdm/publicidadeOng.png" alt="">
                <li>Publicidade</li>
            </div>

            <div class="linksOng">
                <img src="/imgs/perfilAdm/postagens.png" alt="">
                <li>Postagens</li>
            </div>

            <div class="linksOng">
                <img src="/imgs/perfilAdm/userOng.png" alt="">
                <li>Perfil</li>
            </div>
        
        </div>


        <!-- Conteudo Principal - Perfil -->
         <div class="containerPerfil">
            <h1 class="tituloPerfil">Perfil ADM</h1>
            <br>
            
  <div class="card">

    <div>
      <div class="profile-header">
        <img src="/imgs/perfilAdm/fotoPerfilUsuario.png" alt="">
        <div>
          <p><strong>Outlier</strong></p>
          <p>outlier2025@gmail.com</p>
        </div>
        <button>Editar foto</button>
      </div>

      <form>
        <label for="nome">Nome</label>
        <input type="text" id="nome" value="Outlier">

        <label for="email">Email</label>
        <input type="email" id="email" value="outlier2025@gmail.com">

        <label for="senha">Senha</label>
        <input type="password" id="senha" placeholder="••••••">

        <button type="button" class="save-btn">SALVAR</button>
      </form>
    </div>

      </form>
    </div>
  </div>

         </div>



    </div>


   

</body>
<script src="/js/perfilAdm.js"></script>
</html>