<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farejo - Eventos</title>
    <link rel="stylesheet" href="/css/dashOng.css">
    <link rel="stylesheet" href="/css/eventosOng.css">
    <link rel="stylesheet" href="/css/menuDash.css">
    <link rel="shortcut icon" href="/imgs/logoFocinho.png" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Titan+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>


<body>
    <!-- Menu -->
    <div class="navbarOng recolhido">
        <div class="btn-abrir">
            <span class="material-symbols-outlined" id="btn-abrir">menu</span>
        </div>

        <img id="logoMenu" src="/imgs/logoFocinho.png" alt="" class="logo">
        <br>
        <div class="linksOng ">
            <img src="/imgs/dash.png" alt="">
            <li><a href="/dashOng">Dashboard</a></li>
        </div>

        <div class="linksOng">
            <img src="/imgs/animaisMenu.png" alt="">
            <li><a href="/animaisOng">Animais</a></li>
        </div>

        <div class="linksOng">
            <img src="/imgs/publicidadeOng.png" alt="">
            <li><a href="/publicacoes">Publicações</a></li>
            
        </div>

        <!-- <div class="linksOng">
            <img src="/imgs/postagens.png" alt="">
            <li><a href="/eventosOng">Eventos</a></li>
        </div> -->

        <div class="linksOng">
            <img src="/imgs/userOng.png" alt="">
            <li><a href="/perfilOng">Perfil</a></li>
        </div>

    </div>

    <div class="container">

        <div class="containerCadastrar containerCadastrarEventos">


            <input type="submit" value="Cadastrar" class="btnCadastrar" id="btnCadastrar">
        </div>

        <div class="containerExibir containerExibirEventos">

        </div>

    </div>


    <script src="/js/menuDash.js"></script>
    <script src="/js/funcoes/dashOng/cadastrarEventos.js"></script>
    <script src="/js/funcoes/dashOng/mostrarEventos.js"></script>
</body>

</html>